@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: none;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffff;
    --secondary-bg-color: #89515A;
    --text-color: #1E1E1E;
    --main-color: #DFAEA0;
    --added-color: #374375;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    /* 10rem = padding top, 9% = px. 2rem = padding bottom */
}

footer {
    margin: 3rem -12rem -12.2rem;
    overflow: hidden;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

/* Heaader Section */
.header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: var(--bg-color);
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 2.8rem;
    transition: .5s;
    font-weight: 600;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);

}

/* End Header */
/* Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-right: 20%;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 2;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

h1 span {
    color: var(--added-color);
}

.home-content p {
    font-size: 1.3rem;
    font-weight: 500;
}

.social-media {
    margin-top: -10px;
}

.social-media a {
    display: inline-flex;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border: .2rem solid var(--main-color);
    border-radius: 505px;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    /* atas - bawah - kiri - kanan */
    transition: 0.5s ease-in-out;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--secondary-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    background: var(--main-color);
    color: var(--bg-color);
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    border: 2px solid var(--main-color);

    /* box-shadow: 0 0 1rem var(--main-color); */
    transition: .5s ease-in-out;
}

.btn:hover {
    box-shadow: none;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.btn-talk {
    background: var(--text-color);
    color: var(--bg-color);
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    margin-left: 10px;
    /* box-shadow: 0 0 1rem var(--main-color); */
    transition: .5s ease-in-out;
    border: 2px solid var(--text-color);
}

.btn-talk:hover {
    box-shadow: none;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

.btn-talk:hover {
    box-shadow: none;
}

/* End Home */

/* About */
.about-me {
    margin-top: -10px;
    text-align: center;
    justify-content: center;
}

.about-me h2 {
    font-size: 25px;
}

.about-me p {
    margin-top: 10px;
    font-size: 12px;
    color: var(--secondary-bg-color);
    font-weight: 500;
}

.detail-info h4 {
    margin-top: 50px;
    color: var(--secondary-bg-color);
    font-size: 14px;
    margin-bottom: 8px;
}

.contact-info {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 2px;
    padding: 0px;
    border-radius: 8px;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--secondary-bg-color);
    padding: 2px 0;
}

.info-item i {
    margin-right: 8px;
    color: var(--secondary-bg-color);
    font-size: 14px;
    font-weight: 500;
}

.info-item span {
    font-size: 11px;
    font-weight: 550;
    color: var(--secondary-bg-color);
}

.skill-item {
    margin-bottom: 20px;
    width: 400px;
    height: 8px;
    margin-left: 58%;
    margin-bottom: -4.5%;
    margin-top: -30px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 10px;
    color: var(--secondary-bg-color);
    font-weight: bold;
}

.progress-bar {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    height: 7px;
    width: 100%;
}

.progress {
    background-color: var(--main-color);
    height: 100%;
    border-radius: 10px;
    animation: fillProgress 3s ease forwards;
    /* Menambahkan animasi */
    width: 0;
    /* Set width awal ke 0 untuk animasi */
}

/* Keyframes untuk animasi progress */
@keyframes fillProgress {
    0% {
        width: 0;
    }

    100% {
        width: var(--progress-width);
        /* Menggunakan nilai dari properti CSS */
    }
}

/* End About */

/* Project */
.project {
    margin-top: -80px;
    text-align: center;
    justify-content: center;
}

.project h2 {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

.card-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}


.card {
    /* margin: 20px 20px; */
    border: 1px solid var(--bg-color);
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -0.703px 0.703px 8px 0px rgba(0, 0, 0, 0.10);
    object-fit: contain;
    width: 360.7px;
    height: 382.5px;
    transition: .5s ease-in-out;
    background-color: var(--bg-color);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: -0.703px 0.703px 8px 0px rgba(137, 81, 90, 0.50);
}

.card-content h4 {
    font-size: 16px;
    opacity: .8;
    color: #777;
    font-weight: 500;
    background: var(--bg-color);
}

.card-content h3 {
    font-size: 23px;
    margin-bottom: 10px;
    background: var(--bg-color);

}

.card-content p {
    font-size: 10px;
    margin: 10px 0;
    font-weight: 400;
}

.card-content button a {
    margin-top: 10px;
    color: var(--main-color);
    font-size: 12px;
    text-decoration: underline;
    background-color: var(--bg-color);
}

.card img {
    width: 331.87px;
    height: 187.03px;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: -0.48px 0.48px 3.837px 0px rgba(0, 0, 0, 0.10);
}

.card-content {
    padding: 10px;
}

/* End Project */

/* Certificate */
.certificate-sec {
    align-items: center;
}

.certificates {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 kolom pada layar besar */
    gap: 20px;
    /* Spasi antar item */
    flex-wrap: wrap;
    place-items: center;

}

.certificate-sec h2 {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

.certificate-card {
    margin: 15px 20px;
    border: 1px solid var(--bg-color);
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -0.703px 0.703px 8px 0px rgba(0, 0, 0, 0.10);
    object-fit: contain;
    width: 360.703px;
    height: 285.219px;
    transition: .5s ease-in-out;
    background-color: var(--bg-color);
    flex-wrap: wrap;
    flex: 1;
    max-width: auto;
    margin: 10px;
}

.certificate-card:hover {
    transform: scale(1.1);
    box-shadow: -0.703px 0.703px 8px 0px rgba(137, 81, 90, 0.50);
}

.certificate-card img {
    width: 331.87px;
    height: 187.03px;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: -0.48px 0.48px 3.837px 0px rgba(0, 0, 0, 0.10);
}

.certificate-card h4 {
    font-size: 15px;
    opacity: .8;
    color: #777;
    font-weight: 500;
}

.certificate-card h3 {
    font-size: 17px;
    margin-bottom: 10px;
}

/* End Certificate */

/* Experience */
.exp-container {
    align-content: center;
    display: flex;
    justify-content: center;
}

.exp {
    margin: 15px 20px;
    border: 1px solid var(--bg-color);
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -0.703px 0.703px 8px 0px rgba(0, 0, 0, 0.10);
    object-fit: contain;
    width: 355.703px;
    height: 280.219px;
    transition: .5s ease-in-out;
    background-color: var(--bg-color);
}

.exp:hover {
    transform: scale(1.1);
    box-shadow: -0.703px 0.703px 8px 0px rgba(137, 81, 90, 0.50);

}

.experience h2 {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

.exp-container img {
    width: 331.87px;
    height: 187.03px;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: -0.48px 0.48px 3.837px 0px rgba(0, 0, 0, 0.10);
}

.exp-content h4 {
    font-size: 15px;
    opacity: .8;
    color: #777;
    font-weight: 500;
}

.exp-content h3 {
    font-size: 19px;
    margin-bottom: 10px;
}

/* End Experience */

/* Contact */
.contact h2 {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
}

.contact form {
    max-width: 70rem;
    text-align: center;
    margin: 1rem auto;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.8rem;
    opacity: .8;
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: var(--main-color);
    padding: 30px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 20%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 8vw;
    border-radius: 50%;
    margin-bottom: 20px;
}

.footer-container p {
    font-size: 28px;
    color: var(--bg-color);
    font-weight: 600;
    margin-bottom: 15px;
}

.hire-me-btn {
    padding: 10px 25px;
    background-color: var(--bg-color);
    border: none;
    border-radius: 25px;
    color: var(--main-color);
    border: 2px solid var(--bg-color);    
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.9s ease;
}

.hire-me-btn:hover {
    background-color: var(--main-color);
    border: 2px solid var(--bg-color);
    color: var(--bg-color);
}

footer::before,
footer::after {
    content: '';
    position: absolute;
    border: 2px solid var(--main-color);
}

/* Responsive */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .services {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-color);
        padding: 1rem 3%;
        display: none;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0);
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home h3 {
        font-size: 2.6rem;
    }

    .home h1 {
        font-size: 5rem;
    }

    .home-img img {
        margin-right: -110px;
        margin-left: -20px;
        width: 40vw;
        margin-top: 4rem;
    }


    .skill-item {
        margin-right: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: -40px;
        font-size: 10px;
    }

    .skill h2 {
        margin: 10px 20px;
        /* Tambahkan jarak antar elemen */
        text-align: center;
        /* Pusatkan teks */
    }

    .card {
        width: 100%;
    }

    .project h2 {
        margin-left: 80px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 80px;
    }

    .certificate-sec h2 {
        margin-left: 80px;
    }

    .certificates {
        grid-template-columns: repeat(2, 1fr);
        /* 2 kolom pada layar sedang */
        margin-left: 80px;
    }

    .exp-container {
        width: auto;
        min-width: 100%;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact {
        margin-left: 80px;
    }

    .contact h2 {
        margin: 0;
    }

    .footer-container p {
        font-size: 1.2rem;
    }

    .hire-me-btn {
        font-size: 0.9rem;
        padding: 8px 20px;
    }
}

@media (max-width: 617px) {
    .skill-item {
        margin-right: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: -40px;
        font-size: 10px;
        width: 90%;
    }

    .project {
        grid-template-columns: repeat(1, 1fr);
    }
}